:root
{
    /* TEXTE */
    /* Taille */
    --resrc-txt-taille: 1.14rem;
    /* Police */
    --resrc-txt-police: 'Courier New', Courier, monospace;

    /* COULEURS */
    /* Texte */
    --resrc-col-texte: rgb(214, 214, 214);
    /* Fond */
    --resrc-col-fond: rgb(14 14 14);

    /* ANIMATION */
    /* Unité */
    --resrc-gfx-unite: 0.14s;
}