/* CITATION */
.citation p
{
    margin-bottom: 0.75rem;
    font-size: x-large;
}
.citation small
{
    font-size: smaller;
}

/* ICONE */
.icone
{
    text-align: center;
    font-size: 7rem;
}

/* PROJETS */
div.projets
{
    text-align: center;
}
div#autres.projets
{
    margin-top: 3rem;
}
div.projets ul.liste-projets
{
    display: flex;
}
div.projets ul.liste-projets
{
    margin-top: 0.7rem;
}
div.projets ul.liste-projets div
{
    margin-top: 1rem;
    width: 100%;
    margin: 0 0.25rem;
    font-size: normal;
}
