/* CITATION */
.citation p
{
    margin-bottom: 0.75rem;
    font-size: x-large;
}
.citation small
{
    font-size: smaller;
}

/* ICONE */
.icone
{
    text-align: center;
    font-size: 7rem;
}

/* PROJETS */
ul#liste-projets
{
    display: flex;
}
ul#liste-projets div
{
    width: 50%;
    margin: 0 0.25rem;
    text-align: center;
    font-size: larger;
}
