<?php
    const CSS_DOSSIER = __RACINE__ . 'style/';
    include_once CSS_DOSSIER . 'couleurs.css';
    include_once CSS_DOSSIER . 'police.css';
    include_once CSS_DOSSIER . 'elements.css';
    include_once CSS_DOSSIER . 'composants.css';
    include_once CSS_DOSSIER . 'mobile.css';
?>
*
{
    user-select: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: all 0.2s ease;
}

body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0 2.5rem;
    align-items: center;
    background-color: var(--couleur-fond);
    color: var(--couleur-texte);
}
body #vue
{
    width: 86%;
}