@media (max-width: 1330px)
{
    /* VUE */

    .resrc>header
    {
        flex-direction: column;
        height: 12.56vh;
    }

    .resrc>header>section#logo, .resrc>header>menu#onglets-normal
    {
        width: 100vw;
        height: 6.28vh;
    }

    .resrc>main
    {
        height: 78.02vh;
        padding: 1.57vh 3.14vw;
    }
}

@media (max-width: 1080px)
{
    /* GENERAL */

    .resrc span.resrc-non-mobile
    {
        display: none;
    }

    .resrc h2 { font-size: calc(1.5 * var(--resrc-txt-taille)); }
    .resrc h3 { font-size: calc(1.25 * var(--resrc-txt-taille)); }
    .resrc h4 { font-size: calc(1.125 * var(--resrc-txt-taille)); }
    .resrc h5 { font-size: calc(1.0625 * var(--resrc-txt-taille)); }
    .resrc h6, .resrc button
    { font-size: calc(1.03125 * var(--resrc-txt-taille)); }

    .resrc form
    {
        padding: 1vh 3.14vw;
    }

    /* VUE */

    .resrc>header>menu#onglets-normal, 
    .resrc>footer>nav#menus
    {
        display: none;
    }

    .resrc>header>menu#activation-onglets-mobile
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .resrc>header>menu#activation-onglets-mobile>li
    {
        width: 100%;
    }

    .resrc>header>menu#activation-onglets-mobile>li>a
    {
        padding-top: 1vh;
    }

    .resrc>header>menu#onglets-mobile
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 0vh;
        top: 12.56vh;
        background-color: var(--resrc-col-fond);
    }

    .resrc>header>menu#onglets-mobile.ouverts
    {
        height: 81.36vh;
    }

    .resrc>header>menu#onglets-mobile.ouverts>li
    {
        height: 11.12%;
    }

    .resrc>header>menu#onglets-mobile.ouverts>li>a
    {
        width: 100vw;
        margin: 1.57vh 0 3.14vh;
    }

    .resrc>main
    {
        height: 78.5vh;
    }

    .resrc>main>section.resrc-actions,
    .resrc>main>section.resrc-actions>menu
    {
        height: 100%;
    }

    .resrc>main>section.resrc-actions>menu
    {
        flex-direction: column;
    }

    .resrc>main>section.resrc-actions>menu>li
    {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
    }

    .resrc>main>section.resrc-actions>menu>li>h3
    {
        height: 10%;
        font-size: calc(1.57 * var(--resrc-txt-taille));
    }

    .resrc>main>section.resrc-actions>menu>li>menu
    {
        height: 75%;
    }

    .resrc>main>section.resrc-centrale
    {
        margin-bottom: 12.56vh;
    }

    .resrc>main>section .resrc-articles>article
    {
        width: 100%;
    }

    .resrc>main>section .resrc-articles>article:nth-last-child(1),
    .resrc>main>section .resrc-articles>article:nth-last-child(2)
    {
        display: none;
    }

    .resrc>main>section article.resrc-resume>a>p
    {
        max-height: calc(7 * var(--resrc-txt-taille));
    }

    .resrc>footer
    {
        height: 0vh;
        border: none;
    }

    .resrc>footer>nav#menus-mobile
    {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        height: 6.28vh;
        width: 100vw;
        color: var(--resrc-col-fond);
        background-color: var(--resrc-col-texte);
    }

    .resrc>footer>nav#menus-mobile>nav#profil-mobile>a
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .resrc>footer>nav#menus-mobile>nav#profil-mobile,
    .resrc>footer>nav#menus-mobile>nav#profil-mobile>a
    {
        width: 100%;
        height: 100%;
    }
}