@media (min-width: 992px)
{
    body { text-align: center!important;}
    body #vue { width: 96%!important; }
} 
@media (max-width: 992px) 
{
    header { display: block; }
    header #menu
    {
        justify-content: center;
        padding-top: 1.5rem;
        padding-bottom: 3rem;
        padding-left: 0!important;
        font-size: 0.8rem!important;
    }
    header #menu a { padding: 0 0.85rem!important; }
}
@media (max-width: 992px) and (min-width: 768px)
{
}
@media (max-width: 768px)
{
    header #menu { font-size: 0.8rem!important; }
    header #menu a { padding: 0 0.6rem!important; }
    #contenu .citation p { font-size: larger; }
}
@media (min-width: 768px)
{
}
