@import url('./config.css');
@import url('./animations.css');

.resrc
{
    font-size: var(--resrc-txt-taille);
    font-family: var(--resrc-txt-police);
    height: 100vh;
    color: var(--resrc-col-texte);
    background-color: var(--resrc-col-fond);
}

.resrc, .resrc *
{
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
    transition: all var(--resrc-gfx-unite) ease;
}

/* VUE */

.resrc>header, .resrc>footer
{
    height: 6.28vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: var(--resrc-col-fond);
}

/* En-tête */

.resrc>header>section#logo
{
    width: 40vw;
    padding-top: 0.785vh;
}

.resrc>header>section#logo:hover,
.resrc>header>section#logo:focus
{
    color: var(--resrc-col-texte);
    background-color: var(--resrc-col-fond);
}

.resrc>header>menu#onglets-normal
{
    width: 60vw;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.resrc>header>menu#onglets-normal>li
{
    width: 20%;
}

.resrc>header>menu#activation-onglets-mobile,
.resrc>header>menu#onglets-mobile,
.resrc>footer>nav#menus-mobile
{ display: none; }

/* Contenu */

.resrc>main
{
    height: 81.16vh;
    padding: 3.14vh 3.14vw;
    overflow-y: auto;
}

.resrc>main>article
{
    margin: 1.57vh 3.14vw;
    padding: 1.57vh 3.14vw;
    border-radius: calc(0.25 * var(--resrc-txt-taille));
}

/* Pied de page */

.resrc>footer
{
    border-top: 1px solid var(--resrc-col-texte);
}

.resrc>footer>nav#menus, .resrc>footer>nav#menus>menu
{
    display: flex;
    flex-direction: row;
}

.resrc>footer>nav#menus>menu { width: 35vw; }

.resrc>footer>nav#menus>menu>li
{
    width: 50%;
    list-style: none;
}

.resrc>footer>nav#menus>menu>li>a>h6
{
    font-size: calc(0.95 * var(--resrc-txt-taille));
}

.resrc>footer>nav#menus>nav#profil
{
    width: 30vw;
    padding-top: 1.57vh;
    color: var(--resrc-col-fond);
    background-color: var(--resrc-col-texte);
}

.resrc>footer>canvas#masque
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 0vh;
    background-color: var(--resrc-col-fond);
    opacity: 0%;
    transition: height 0s ease calc(2 * var(--resrc-gfx-unite)), opacity calc(2 * var(--resrc-gfx-unite)) ease;
}

.resrc>footer>canvas#masque.actif
{
    height: 49.76vh;
    opacity: 64%;
    transition: opacity calc(2 * var(--resrc-gfx-unite)) ease;
}

.resrc>footer>#fenetres
{
    position: absolute;
    right: 0;
    bottom: 6.28vh;
    width: 100vw;
    height: 0;
    color: var(--resrc-col-fond);
    background-color: var(--resrc-col-texte);
}

.resrc>footer>#fenetres.ouvertes
{
    height: 43.96vh;
}

.resrc>footer>#fenetres>section
{
    position: absolute;
    padding: 3.14vh 3.14vw;
    z-index: 2;
    width: 93.72vw;
    top: 55%;
    opacity: 0%;
    visibility: hidden;
}


.resrc>footer>#fenetres>section.ouverte
{
    top: 0%;
    opacity: 100%;
    visibility: visible;
}

/* GENERAL */

.resrc h1, .resrc h2, .resrc h3,
.resrc h4, .resrc h5, .resrc h6,
.resrc button, .resrc select
{
    letter-spacing: 0.3925rem;
}
.resrc h1, .resrc h2, .resrc h3,
.resrc h4, .resrc h5, .resrc h6
{
    text-transform: lowercase;
}

.resrc h1 { font-size: calc(2.5 * var(--resrc-txt-taille)); }
.resrc h2 { font-size: calc(2 * var(--resrc-txt-taille)); }
.resrc h3 { font-size: calc(1.75 * var(--resrc-txt-taille)); }
.resrc h4 { font-size: calc(1.5 * var(--resrc-txt-taille)); }
.resrc h5 { font-size: calc(1.25 * var(--resrc-txt-taille)); }
.resrc h6, .resrc button
{ font-size: calc(1.125 * var(--resrc-txt-taille)); }

.resrc input, .resrc textarea, .resrc select
{
    font-size: var(--resrc-txt-taille);
}

.resrc input, .resrc textarea
{
    border: none;
}

.resrc form
{
    display: grid;
    padding: 1vh 14vw;
}

.resrc textarea
{
    resize: none;
}

.resrc input, .resrc button, .resrc select
{
    text-align: center;
}

.resrc input, .resrc button,
.resrc select, .resrc textarea
{
    color: var(--resrc-col-texte);
    background-color: var(--resrc-col-fond);
    border-radius: calc(0.35 * var(--resrc-txt-taille));
}

.resrc button, .resrc select
{
    text-transform: uppercase;
    font-weight: bolder;
    border-style: solid;
    border-color: var(--resrc-col-fond);
    border-width: 0px;
}

.resrc input[type="text"], .resrc input[type="email"],
.resrc input[type="password"], .resrc textarea,
.resrc button, .resrc select
{
    padding: calc(0.35 * var(--resrc-txt-taille)) calc(0.5 * var(--resrc-txt-taille));
    margin: calc(0.5 * var(--resrc-txt-taille)) calc(1.5 * var(--resrc-txt-taille)) calc(1.25 * var(--resrc-txt-taille));
}

.resrc input::placeholder, .resrc textarea::placeholder
/* .resrc input:-ms-input-placeholder, */
/* .resrc input::-ms-input-placeholder */
{
    color: var(--resrc-col-texte);
    font-style: italic;
    opacity: 65.94%;
}

.resrc p
{
    text-align: justify;
}

.resrc a
{
    text-decoration: none;
    color: inherit;
}

.resrc menu>li>a
{
    display: block;
    height: 100%;
    padding-top: 1.57vh;
}

.resrc button:hover, .resrc button:focus, .resrc button.actif,
.resrc select:hover, .resrc select:focus, .resrc select.actif,
.resrc .resrc-lien:hover, .resrc .resrc-lien:focus, .resrc .resrc-lien.actif,
.resrc .resrc-lien-externe:hover, .resrc .resrc-lien-externe:focus, .resrc .resrc-lien-externe.actif
{
    cursor: pointer;
    color: var(--resrc-col-fond);
    background-color: var(--resrc-col-texte);
    transform: translateY(-0.19625vh);
}

.resrc button:hover, .resrc button:focus, .resrc button.actif,
.resrc select:hover, .resrc select:focus, .resrc select.actif
{
    border-width: 3.14px;
    letter-spacing: 0.785rem;
}

.resrc .resrc-lien-externe:hover, .resrc-lien-externe:focus
{
    text-decoration: underline;
}

.resrc .resrc-condition
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.57vh;
}

.resrc .resrc-condition>input[type=checkbox]
{
    margin-right: 1.57vw;
}

.resrc .resrc-condition>label
{
    text-transform: lowercase;
}