:root
{
    /* TEXTE */
    /* Police */
    --resrc-txt-police: 'Courier New', Courier, monospace;

    /* COULEURS */
    /* Texte */
    --resrc-col-texte: rgb(214, 214, 214);
    /* Fond */
    --resrc-col-fond: rgb(14 14 14);
}